
:root {
  --sl-content-width: 99%;
  --sl-sidebar-width: 16rem;
}

.sl-markdown-content td:nth-child(8) {
  min-width: 200px;
}

td:nth-child(3) {
  font-family: var(--sl-font-mono);
  font-weight: 500;
  color: var(--sl-color-white);
  background-color: rgba(255, 255, 255, 0.02);
}

.status-good {
  background-color: rgba(34, 197, 94, 0.05) !important;
  color: #16a34a !important;
}

.status-limited {
    background-color: rgba(234, 179, 8, 0.05) !important;
    color: #ca8a04 !important;
}

.status-bad {
  background-color: rgba(239, 68, 68, 0.05) !important;
  color: #dc2626 !important;
}

